<div class="terminal-prompt">
  * ~$ cd Bio
</div>
<br>
<h1 class="bio-h1">Hi, I'm Daniel</h1>
<br>
<h2 class="bio-h2">And I'm a Ruby on Rails/Javascript web developer.</h2>
<br>

<div class="bio-text">I started programming in high school when I took AP Computer Science. Back then, I coded purely in Java and transferred files on FTP clients (since there was no GitHub).</div>


<div class="bio-text">After graduating last year from Columbia University with a degree in Urban Studies and Political Science, I began programming once more, learning web development in Ruby on Rails and Javascript. More recently, I've picked up Java again and learned Python to complete computer science courses on MIT OpenCourseWare.</div>


<div class="bio-text">My short term goals include building awesome web applications and programming to the best of my ability. In the long term, I plan to complete a Master's in Computer Science with focus on how the field can improve government operations in cities.</div>