<div class="terminal-prompt">
  * ~$ cat Bio
</div>
<br>
<h1 class="bio-h1">Hi, I'm Daniel</h1>
<br>
<h2 class="bio-h2">And I'm a Ruby on Rails/Javascript web developer.</h2>
<br>

<div class="bio-text">Most recently, I've been building a reading app that allows users to craft a personalized newspaper. I'm constantly figuring out how to use my skills in Ruby on Rails and Javascript to learn and implement new technologies and ideas.</div>


<div class="bio-text">I started programming in high school and wrote my first sorting algorithms when I was 16. Since graduating last year from Columbia University with a double degree in Urban Studies and Political Science, I've been creating web applications and taking computer sciences courses on MIT OpenCourseWare.</div>


<div class="bio-text">In the long term, I intend to complete a Master's in Computer Science with focus on how the field can improve government operations in cities. In the meantime, you can find me developing new web applications, studying urbanization, and exploring New York City.</div>