<div class="terminal-prompt">
  * ~$ cat Projects
</div>
<br>

<div class="project">
  <div class="project-image">
    <img src="https://s3-us-west-2.amazonaws.com/personal-page-terminal/feeder.png">
  </div>

  <div class="project-text-one">
    <h1 class="project-title">
      Feeder
    </h1>
    <h2 class="project-technologies">
      Ruby on Rails and Backbone.js
    </h2>
		<ul>
      <li class="project-description">
        A clone of the popular news reading app Feedly
			</li>
      <li class="project-description">
        Opens rss feeds, parses xml documents representing news articles, and saves the data in a server
			</li>
      <li class="project-description">
        Allows users to view and save articles using Backbone.js, AJAX requests, and customized API’s.
		  </li>
      <li class="project-description">
        Ensures only one Backbone model of every Rails model exists in the application, significantly improving performance
		  </li>
	  </ul>
    <div class="project-links">
      <a href="http://feeder.danielygonzalez.com" target="_blank">live</a> | <a href="https://github.com/dyg2104/Feeder" target="_blank">github</a>
	  </div>
  </div>
</div>

<div class="project">
  <div class="project-image">
    <img src="https://s3-us-west-2.amazonaws.com/personal-page-terminal/personal_page_terminal.png">
  </div>

  <div class="project-text-two">
    <h1 class="project-title">
      Personal Page - Terminal
    </h1>
    <h2 class="project-technologies">
      Ruby on Rails and Backbone.js
    </h2>
		<ul>
      <li class="project-description">
        Builds a terminal like website which accepts cd and ls commands
			</li>
      <li class="project-description">
        Displays personal information upon input
			</li>
      <li class="project-description">
        More features to come!
			</li>
	  </ul>

    <div class="project-links">
      <a href="http://www.danielygonzalez.com" target="_blank">live</a> | <a href="https://github.com/dyg2104/Personal_Page_Terminal" target="_blank">github</a>
		</div>
  </div>
</div>

<div class="project">
  <div class="project-image">
    <img src="https://s3-us-west-2.amazonaws.com/personal-page-terminal/asteroids.png">
  </div>

  <div class="project-text-three">
    <h1 class="project-title">
      Asteroids
    </h1>
    <h2 class="project-technologies">
      Javascript and HTML5 Canvas
    </h2>
		<ul>
      <li class="project-description">
        Handles the logic of the game using object-oriented programming in JS
			</li>
      <li class="project-description">
        Renders the game in a HTML5 canvas element
			</li>
	  </ul>
    <div class="project-links">
      <a href="http://asteroids.danielygonzalez.com" target="_blank">live</a> | <a href="https://github.com/dyg2104/Asteroids" target="_blank">github</a>
		</div>
  </div>
</div>

<div class="project">
  <div class="project-image">
    <img src="https://s3-us-west-2.amazonaws.com/personal-page-terminal/rails_lite.png">
  </div>

  <div class="project-text-four">
    <h1>Rails Lite</h1>
    <h2>Ruby</h2>
		<ul>
      <li class="project-description">
        Receives http requests
			</li>
      <li class="project-description">
        Parses params and uses them in taking appropriate action server side
			</li>
      <li class="project-description">
        Uses cookies to keep track of sessions
			</li>
      <li class="project-description">
        Send correct http responses
			</li>
	  </ul>

    <div class="project-links">
      <a href="https://github.com/dyg2104/Rails_Lite" target="_blank">github</a>
		</div>
  </div>
</div>

<div class="project">
  <div class="project-image">
    <img src="https://s3-us-west-2.amazonaws.com/personal-page-terminal/tic_tac_toe.png">
  </div>

  <div class="project-text-five">
    <h1 class="project-title">
      Tic-Tac-Toe
    </h1>
    <h2 class="project-technologies">
      Ruby
    </h2>
		<ul>
      <li class="project-description">
        Separates the game into Ruby classes representing the board, game logic, human moves, and computer moves
			</li>
      <li class="project-description">
        Creates a computer AI that uses depth first search to choose only winning or tying moves
			</li>
	  </ul>
    <div class="project-links">
      <a href="https://github.com/dyg2104/Tic-Tac-Toe" target="_blank">github</a>
		</div>
  </div>
</div>