<div class="terminal-prompt">
  * ~$ cd Resume
</div>

<div class="resume">
  <img src="/assets/Gonzalez_Daniel_Resume.jpg">
</div>

<a href="/assets/Gonzalez_Daniel_Resume.pdf">
 Download a PDF Version
</a>
<br>