<div class="terminal-prompt">
  * ~$ cat Resume
</div>

<div class="resume">
  <img src="https://s3-us-west-2.amazonaws.com/personal-page-terminal/Gonzalez_Daniel_Resume.jpg">
</div>

<a class="resume-pdf" href="https://s3-us-west-2.amazonaws.com/personal-page-terminal/Gonzalez_Daniel_Resume.pdf">
	Download a PDF Version</a>