<div id="window">

 	<div id="toolbar">
		<div class="top">

			<div id="lights">
				<div class="light red">
          <!-- <div class="glyph">×</div> -->
					<div class="shine"></div>
					<div class="glow"></div>
				</div>
				<div class="light yellow">
          <!-- <div class="glyph">-</div> -->
					<div class="shine"></div>
					<div class="glow"></div>
				</div>
				<div class="light green">
          <!-- <div class="glyph">+</div> -->
					<div class="shine"></div>
					<div class="glow"></div>
				</div>
			</div>
			<div id="title">
				<div class="folder">
					<div class="tab"></div>
					<div class="body"></div>
				</div>
				danielygonzalez.com
      </div>

		</div>
	</div>

	<div id="body">
    <div class="main-content-container">

  		<section>
        <div class="terminal-prompt">
          * ~$ ls
        </div>
        Bio Resume Projects Contact
      </section>

      <section>
        <div class="terminal-prompt">
          * ~$ cd Projects
        </div>
        <br>

        <div class="project">
          <div>
            Image
          </div>

          <div>
            <h1 class="project-title">
              Feeder
            </h1>
            <h2 class="project-technologies">
              Ruby on Rails and Backbone.js
            </h2>
            <p class="project-description">
              A clone of the popular news reading app Feedly
            </p>
            <p class="project-description">
              Opens rss feeds, parses xml documents representing news articles, and saves the data in a server
            </p>
            <p class="project-description">
            Allows users to view and save articles using Backbone.js, AJAX requests, and customized API’s.
            </p>
            <p class="project-description">
            Ensures only one Backbone model of every Rails model exists in the application, significantly improving performance
            </p>
            <p class="project-links">
            live | github
            </p>
          </div>
        </div>

        <div class="project">
          <div>
            image
          </div>

          <div>
            <h1 class="project-title">
              Personal Page - Terminal
            </h1>
            <h2 class="project-technologies">
              Ruby on Rails and Backbone.js
            </h2>
            <p class="project-description">
              Builds a terminal like website which accepts cd and ls commands
            </p>
            <p class="project-description">
              Displays personal information upon input
            </p>
            <p class="project-description">
              More features to come!
            </p>

            <p class="project-links">
              live | github
            </p>
          </div>
        </div>

        <div class="project">
          <div>
            Image
          </div>

          <div>
            <h1 class="project-title">
              Asteroids
            </h1>
            <h2 class="project-technologies">
              Javascript and HTML5 Canvas
            </h2>
            <p class="project-description">
              Handles the logic of the game using object-oriented programming in JS
            </p>
            <p class="project-description">
              Renders the game in a HTML5 canvas element
            </p>
            <p class="project-links">
              live | github
            </p>
          </div>
        </div>

        <div class="project">
          <div>
            Image
          </div>

          <div>
            <h1 class="project-title">
              Tic-Tac-Toe
            </h1>
            <h2 class="project-technologies">
              Ruby
            </h2>
            <p class="project-description">
              Separates the game into Ruby classes representing the board, game logic, human moves, and computer moves
            </p>
            <p class="project-description">
              Creates a computer AI that uses depth first search to choose only winning or tying moves
            </p>
            <p class="project-links">
              github
            </p>
          </div>
        </div>

        <div class="project">
          <div>
            Image
          </div>

          <div>
            <h1>Hangman</h1>
            <h2>Ruby</h2>
            <p class="project-description">
              Separates the game into Ruby classes representing the logic and display of the game, human choices, and computer choices
            </p>
            <p class="project-description">
              Allows a person to guess against the computer's choice of word or for a computer to guess against a person's choice
            </p>
            <p class="project-description">
              Creates a computer AI that reads a txt file of words to form possible guesses and dwindles the possible choices based on the size of the word and previous guesses
            </p>

            <p class="project-links">
              github
            </p>
          </div>
        </div>

      </section>

      <div id="prepend-with-content">
      </div>

  		<section id="replace-with-bar">
        Hello
      </section>

    </div>
	</div>

</div>