<div class="terminal-prompt">
  * ~$ ls
<div>

<div class="ls-tabs">
  <div class="ls-tabs-left">
    Bio Resume Projects Contact
  </div>

  <div class="ls-tabs-right">
    dyg2104@gmail.com Linkedin Github
  </div>
</div>