<div class="terminal-prompt">
  * ~$ ls
<div>

<div class="ls-tabs">
  <div class="ls-tabs-left">
    <a href="/bio">Bio</a>
    <a href="/resume">Resume</a>
    <a href="/projects">Projects</a>
  </div>

  <div class="ls-tabs-right">
    <a href="mailto:dyg2104@gmail.com">
      dyg2104@gmail.com
    </a>
    <a href="http://www.linkedin.com/pub/daniel-gonzalez/21/829/611">
      Linkedin
    </a>
    <a href="https://github.com/dyg2104">
      Github
    </a>
  </div>
</div>